body,html{
    height: 100%;
  }
  // 工作中不建议写*好，性能
  div,a,ul,ol,h1,h2,h3,h4,h5,h6,p,img,body,html{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    // pdding不会撑开盒子，优先以自己的尺寸为主
    box-sizing: border-box;
  }